/*mobile version */

@media (max-width: 425px) {
  .destaques-tenis {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
@media (min-width: 428px) {
  .destaques-tenis {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

/*tablet version*/
@media (min-width: 768px) {
  .destaques-tenis {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    grid-gap: 1em;
  }
  #backToTopButton {
    display: none;
  }
}

/*desktop version*/
@media (min-width: 1024px) {
  .destaques-tenis {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    width: 100%;
    margin-bottom: 10rem;
  }
  .banner {
    padding: 10rem 1em;
    background-position: center;
   
  }
  #backToTopButton {
    display: none;
  }
  .card img {
    width: 100%;

  }
  .desconto-texto {
    font-size: 1.7rem;
  }
  .rodape-texto{
    font-size: 1.7rem;
  }

}
